<main class="bg-green flex justify-center items-center">
  <div class="card lg:card-side bg-base-100 shadow-xl max-w-7xl w-full rounded my-14">
    <div class="card-body">
      <div class="card-header mb-4">
        <h2 class="card-title text-black">山吹蛍パーク予約</h2>
        <div class="border-1 border-b border-gray100 pt-4"></div>
      </div>
      <div class="card-main">
        <div class="w-full border border-gray100 bg-lightgreen rounded mb-4">
          <p class="text-left text-alert text-sm p-2">予約が完了しました。<br>ご予約内容をメールに送信しました。ご確認ください。</p>
        </div>
        <h3 class="text-green">予約内容</h3>
        <table class="w-full mb-4">
          <tbody class="border border-collapse border-gray100 table-auto text-sm">
            <tr>
              <td class="border border-gray100 p-2 ">ご予約内容</td>
              <td class="border border-gray100 p-2 ">山吹蛍パーク予約</td>
            </tr>
            <tr>
              <td class="border border-gray100 p-2">日時</td>
              <td class="border border-gray100 p-2">-年-月-日 (⚪︎) --:-- ~ --:-- ¥---(税込)</td>
            </tr>
          </tbody>
        </table>
        <div class="border-b border-gray100 pb-6">
          <p class="text-green">注意事項</p>
          <div>
            <div class="border border-gray100 p-2 w-full text-sm mb-2">
              <p>注意事項<br>利用時間が超過した場合は追加料金が発生します。（15分 ---円）<br>他にも注意事項を追加できます。</p>
            </div>
            <div class="check text-sm flex items-center ml-2">
              <input type="checkbox" id="agree" name="agree" class="mr-1">
              <label for="agree">同意する</label>
            </div>
          </div>
        </div>
        <div class="text-form border-b border-gray100 pb-6">
          <h3 class="mt-4 text-green">ご質問・ご要望はこちらに記入ください。</h3>
          <div class="mt-2">
            <textarea name="question" id="question" cols="30" rows="10" class="textarea border-gray100 rounded w-full text-sm h-20"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>