<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>グランド予約フォーム</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.15/main.min.css" rel="stylesheet">
  <link href="/assets/application.css" rel="stylesheet">
</head>
<body>
  <main class="bg-green flex justify-center items-center min-h-screen">
    <div class="card lg:card-side bg-base-100 shadow-xl max-w-7xl w-full rounded my-14">
      <div class="card-body">
        <div class="card-header mb-4">
          <h2 class="card-title text-black">山吹蛍パーク予約</h2>
          <div class="border-1 border-b border-gray100 pt-4"></div>
        </div>
        <div class="text-gray mb-4">
          <p>1時間単位で予約ができます。</p>
          <p>予約時間を過ぎると15分単位で追加料金が発生します。</p>
          <p>1時間1000円です。</p>
        </div>
        <div class="main">
          <div class="form border border-gray100 rounded">
            <div class="form-header flex justify-between border-b border-gray100">
              <div class="form-left flex items-center ml-4">〜年〜月〜日(⚪︎) --:--</div>
              <div class="form-right btn btn-link text-blue">戻る</div>
            </div>
            <div class="border-b border-gray100 flex justify-center py-4">
              <div class="form-main w-full sm:w-4/5 md:w-3/4 lg:w-2/3 xl:w-1/2 text-black">
                <div class="form1 flex justify-between w-full mb-4">
                  <label class="w-1/3 text-right mr-6">ご予約内容</label>
                  <div class="w-2/3">山吹蛍パーク予約</div>
                </div>
                <div class="form2 flex justify-between w-full mb-4">
                  <label class="w-1/3 text-right mr-6">料金</label>
                  <div class="price border border-gray100 p-2 w-2/3 bg-yellow rounded">
                    <p>通常：---(60分)</p>
                    <p>土日祝(9:00~17:00)：---(60分)</p>
                    <p>土日祝(17:00~22:00)：---(60分)</p>
                    <p>月火水木金(17:00~22:00)：---(60分)</p>
                  </div>
                </div>
                <div class="form3 flex justify-between w-full mb-4">
                  <label class="w-1/3 text-right mr-6">グラウンド</label>
                  <div class="w-2/3">フルコート</div>
                </div>
                <div class="form4 flex justify-between w-full mb-4">
                  <label class="w-1/3 text-right mr-6">日時</label>
                  <div class="w-2/3 flex items-center">
                    <div class="mr-2">2024年7月30日 (月) 8:00~ </div>
                    <select name="" id="" class="border border-gray100">
                      <option value="">9:00</option>
                      <option value="">10:00</option>
                      <option value="">11:00</option>
                      <option value="">12:00</option>
                      <option value="">13:00</option>
                      <option value="">14:00</option>
                      <option value="">15:00</option>
                      <option value="">16:00</option>
                      <option value="">17:00</option>
                      <option value="">18:00</option>
                      <option value="">19:00</option>
                      <option value="">20:00</option>
                      <option value="">21:00</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-footer flex justify-center my-3">
              <%= link_to '次へ', confirm_reservations_path, class: "btn btn-sm text-gray bg-white hover:bg-green hover:text-white rounded" %>
              <!-- <button class="btn btn-sm text-gray bg-white hover:bg-green hover:text-white rounded">次へ</button> -->
            </div>
          </div>
          <div class="flex justify-center">
            <button class="btn btn-link text-blue">戻る</button>
          </div>
      </div>
    </div>
  </main>
</body>
</html>
