<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>グランド予約フォーム</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/6.1.15/main.min.css" rel="stylesheet">
  <link href="/assets/application.css" rel="stylesheet">
</head>
<body>
  <main class="bg-green flex justify-center items-center min-h-screen">
    <div class="card lg:card-side bg-base-100 shadow-xl max-w-7xl w-full rounded my-14">
      <div class="card-body">
        <div class="card-header mb-4">
          <h2 class="card-title text-black">グラウンド予約</h2>
          <div class="border-1 border-b border-gray100 pt-4"></div>
        </div>
        <div class="text-gray mb-4">
          <p>1時間単位で予約ができます。</p>
          <p>予約時間を過ぎると15分単位で追加料金が発生します。</p>
          <p>1時間1000円です。</p>
        </div>
        <div class="main">
          <div class="form border border-gray100">
            <div class="form-header flex justify-between border-b border-gray100">
              <div class="form-left">〜年〜月〜日</div>
              <div class="form-right btn">戻る</div>
            </div>
            <div class="">
              <div class="form-main">
                <div class="form1 flex justify-center">
                  <label class="">ご予約内容</label>
                  <div>グラウンド予約</div>
                </div>
                <div class="form2 flex justify-center">
                  <label class="">料金</label>
                  <div>---円</div>
                </div>
                <div class="form3 flex justify-center">
                  <label class="">グラウンド</label>
                  <div class="">フルコート</div>
                </div>
                <div class="form4 flex justify-center">
                  <label class="">日時</label>
                  <div>~年~月~日</div>
                </div>
              </div>
            </div>
            <div class="form-footer">
              <button class="btn">次へ</button>
            </div>
          </div>
          <div>
            <button class="btn">戻る</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>
</html>
